.sinatra-container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

#container {
  /*border: 1px dotted black;*/

  display: block;
  width: 90%;
  height: auto;
  margin: 10px auto;
  background-color: white;
  color: black;
  line-height: 120%;
}


.top_banner {
  margin: 5px;
  padding: 5px 15px;
  color: black;
  font: bold 1.5em 'Ubuntu', Georgia;
  border: 1px dotted gray;
}

.top_banner h1 {
  padding: 0;
  margin: 0;
}

.sidebar {
  border: 1px dotted gray;

  height: 100%;
  padding: 5px 1em;
  margin: 0 5px;
  width: 288px;
  float: right;
}

.about_me {
  border: 1px dotted gray;
  display: inline-block;

}

.about_me ul {
  border: 1px dotted gray;
  display: inline-block;
  margin: 0;
  padding: 0.3em;
  float: left;
  clear: left;
}

.submit_post {
  border: 1px dotted gray;
  display: inline-block;
  padding-left: 5px;

}

.submit_post h2 {
  margin: 0;
  padding-top: 5px;
  margin-bottom: 5px;
}

.input_field .title {
  padding-left: 5px;


  border-bottom-color: #b3b3b3;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: #b3b3b3;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: #b3b3b3;
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: #b3b3b3;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top-style: solid;
  border-top-width: 1px
}

.input_field .body {
  padding-left: 5px;
  width: 250px;
  height: 250px;
  border: none;

  border-bottom-color: #b3b3b3;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: #b3b3b3;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: #b3b3b3;
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: #b3b3b3;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top-style: solid;
  border-top-width: 1px

}

.post {
  border: 1px dotted gray;
  margin: 0 330px 5px 5px;
}

.post_title {
  position: relative;
  display: inline-block;
  width: 95%;
  top: 7px;
  left: 5px;
  border-bottom: 1px solid;
  font: 20px Georgia;
}

.post p {
  font: 16px 'Ubuntu',Times;
  padding: 0 5px;
}

.footer {
  float: left;
  clear: both;
  font: 12px Arial;
  padding: .5em;

}