.sinatra-container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

#container {
  border: 1px dotted black;
  width: 90%;
  margin: 10px auto;
  background-color: white;
  color: black;
  line-height: 120%;
}


.top_banner {
  margin: 5px;
  padding: 5px 15px;
  color: black;
  font: bold 1.5em Georgia;
  border: 1px dotted gray;
}

.top_banner h1 {
  padding: 0;
  margin: 0;
}

.sidebar {
  border: 1px dotted gray;

  height: 100%;
  padding: 5px 1em;
  margin: 0 5px;
  width: 288px;
  float: right;
}

.about_me {
  border: 1px dotted gray;

  display: inline-block;

}

.about_me ul {
  border: 1px dotted gray;
  display: inline-block;
  margin: 0;
  padding: 0.3em;
  float: left;
  clear: left;
}

.submit_post {
  border: 1px dotted gray;
  display: inline-block;


}

.submit_post h2 {
  padding: 5px;
  margin: 0;
}


.post {
  border: 1px dotted gray;
  margin: 0 330px 5px 5px;
}

.post_title {
  position: relative;
  display: inline-block;
  width: 95%;
  top: 7px;
  left: 5px;
  border-bottom: 1px solid;
  font: 20px Garamond;
}

.post p {
  font: 16px Times;
  padding: 0 5px;
}

.footer {
  float: left;
  clear: both;
  font: 12px Arial;
  padding: .5em;

}