

<title>It's BLOGTIME</title>


<div id="container">

<div class="top_banner">
  <h1 class="header">Master of Disaster</h1>
</div>

<div class="sidebar">
  <div class="about_me">
    <ul>About me stuff</ul>
    <ul>data stuff</ul>
    <ul>more stuff about me</ul>
    <ul>it's all about me</ul>
  </div>

  <div class="submit_post">
    <h2> What's on your mind? </h2>
    <form action="" method="">
      <div class="input_field"> 
        <input class="title" type="text" name="title" placeholder="title">
        <textarea class="body" name="title" placeholder="body" row="30" cols="20"></textarea>
        <input type="submit" value="Post">
      </div>
    </form>
  </div>
</div>


<div class="post">
  <% if @all_posts %>
    <% @all_posts.each do |post| %>
    <span class="post_title"><%= post.title %></span>
    <p><%= post.body %></p>
    <% end %>
  <% else %>
    <span class="post_title"><%= @post.title %></span>
    <p><%= @post.body %></p>
  <% end %>

</div>

<div class="footer"> Wayne Wayne BloGgin 2013 </div>