
<head>
  <title>It's BLOGTIME</title>
</head>

<div id="container">

<div class="top_banner">
  <h1 class="header">Master of Disaster</h1>
</div>

<div class="sidebar">
  <div class="about_me">
    <ul>WAYNE WAYNE WAYNE</ul>
    <ul>data stuff</ul>
    <ul>more stuff about me</ul>
    <ul>it's all about me</ul>
  </div>
  <div class="submit_post">
    <h2> Submit New Post </h2>
    <p> TEXTFIELD </p>
    <p> TEXTFIELD </p>
    <p> TEXTFIELD </p>
  </div>
</div>

<div class="post">
  <span class="post_title"> TITLE </span>
<p>
Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
</p>
<p>
Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
</p>
</div>

<div class="footer"> Wayne Wayne BloGgin 2013 </div>